@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	html {
		font-size: 37.5px;
	}
}
html,
body {
	width: 100%;
	height: 100%;
    background-color: rgba( 33, 33, 33, 1) !important;
}
.f-white { color: white !important; }
.f-small{font-size: 10px; color: #AAAAAA;}

/*顶部标题栏*/
.header {
	width: 100%;
	height: 45px;
	background-color: rgba(21, 21, 21, 1);
	position: fixed;
	color: white;
	text-align: center;
	z-index: 999;
}
.backBtn {
	position: absolute;
	font-size: 14px;
	left: 10px;
	top: 7.5px;
	border-color: rgba(1, 1, 1, 0);
	cursor: pointer;
}
.headerTitle {
	line-height: 45px;
	font-size: 14px;
}
/*顶部标题栏*/


/*主体内容*/
.content {
	padding: 45px 0 55px;
	width: 100%;
	background-color: rgba( 33, 33, 33, 1);
	margin-bottom: -15px;
}

.sports,
.person {
	height: 100%;
}

/**********************主页**********************/
.home .slideAdv {
	height: 200px;
}

.slideAdv div {
	height: 100%;
}
.slideAdv img{
	width: 100%;
}
/*餐饭建议*/    
.foodBox{
	/*border-bottom: 1px #aaaaaa dotted;*/
}
.foodBoxTitle {
	height: 55px;
	text-align: center;
	position: relative;
}
.foodBoxTitle dd {
	height: 100%;
	line-height: 55px;
	color: white;
	font-size: 16px;
}
.foodBoxTitle dd:before,
.foodBoxTitle dd:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 60px;
	background-color: white;
}

.foodBoxTitle dd:before {
	left: 50%;
	margin-left: -96px;
	top: 50%;
}

.foodBoxTitle dd:after {
	right: 50%;
	margin-right: -96px;
	top: 50%;
}
.foodTimeBtn{
	height: 40px;
	line-height: 40px;
	border-bottom: .1px #999 solid;
}
.foodTimeBtn dd {
	display: inline-block;
	float: left;
	width: 25%;
	font-size: 13px;
	position:  relative;
	text-align:  center;
	color: white;
	line-height:  40px;
}
.footer-i{
    position:  absolute;
    height:  3px;
    width: 15px;
    background:  white;
    bottom: 0;
    text-align:  center;
    left: 50%;
    margin-left: -7.5px;
}
.foodTimeList{
	padding: 30px 20px 40px;
    display:  inline-block;
    width:  100%;
    position: relative;
}
.foodTimeList canvas{
	float: left;
}
.foodData{
    width: auto;
    padding-left: 110px;
}
.foodDataTitle{
	color: white;
	margin-bottom: 10px;
}
#kcal{
	color:  white;
    font-size: 16px;
    margin-right: 5px;
}  
.foodDataContent{
    color:  white;
    font-size: 12px;
}
.foodDataContent dd{
    padding-left: 15px;
    position:  relative;
    display: inline-block;
    margin-bottom: 10px;
}
.foodDataContent dd:nth-child(Odd){
	margin-right: 10px;
}
.foodDataContent dd i{
    width: 10px;
    height: 10px;
    content: '';
    position:  absolute;
    display:  inline-block;
    border-radius: 50%;
    left: 0;
    top: 4px;
}
.foodDataContent dd:nth-child(1) i{background: #79B6F2;}
.foodDataContent dd:nth-child(2) i{background: #FDB45C;}
.foodDataContent dd:nth-child(3) i{background: #23C788;}
.foodDataContent dd:nth-child(4) i{background: #F7464A;}
.foodAdvise{
	padding: 0 10px;
	color: white;
    width:  100%;
}
.foodAdviseList{
    width: 100%;
    overflow-x:  auto;
}
.foodItemList{
	width: 640px;
}
.foodItemList dl{
	float: left;
    width: 100px;
    margin-right: 5px;

}
.foodItemList dt{
	 background-size: cover; 
	 background-repeat: no-repeat; 
	 background-position: center; 
	 width: 100px; 
	 height: 100px;"
}
.foodItemList dd p{
	font-size: 12px;
	margin: 0;
	text-align: center;
	margin: 5px 0;
}
/*餐饭建议*/    
/*运动推荐*/
.sportBox{
	margin-top: 20px;
	/*padding-bottom: 40px;*/
}
.sportItem{
    background-repeat:  no-repeat;
    background-size: cover;
    background-position:  center;
    width:  100%;
    height:  200px;
    /*margin-bottom: 10px;*/
}
.sportItem span{
    width:  100%;
    height:  100%;
    display:  inline-block;
    background-color: rgba(0,0,0,.5);
    font-size: 40px;
    text-align:  center;
    color:  #AAAAAA;
    line-height: 200px;
    transition: color .5s,background-color .5s;
}
span.sportItemAct{
	color: white;
    background-color: rgba(0,0,0,.7);
}
/*运动推荐*/




/**********************视频**********************/
.videoAdv{
	position: relative;
	background-position:  center;
    background-repeat:  no-repeat;
    background-size:  cover;
    color: white;
    width:  100%;
    height: 300px;
    background-image: url(../img/7.jpg);
    text-align: center;
}
/*.mask{
    width:  0;
    height:  100%;
    background-color:  rgba(0,0,0,.5);
    display:  inline-block;
    position:  absolute;
   margin-bottom: -285px;
}    */
.mask-font{
    font-size:  34px;
    position:  relative;
    background-color: rgba(0,0,0,.2);
    width:  100%;
    height:  100%;
    line-height: 300px;
    display:  inline-block;
}
.videoList{
	width: 100%;
    /*text-align: justify;*/
    padding: 0 10px;
    
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-between;


}
.viedoItem{
	margin: 10px 3px;
    height:  100px;
    width:  100px;
    background-color:  white;
	display: inline-block;
}




/**********************个人页面**********************/
.mypic{
	text-align: center;
}
.mypic i{
    width: 80px;
    height: 80px;
    display:  inline-block;
    background-image: url(../img/2.jpg);
    background-position:  center;
    background-size:  cover;
    background-repeat:  no-repeat;
    border-radius:  50%;
    border: 5px solid white;
    text-align:  center;
    margin-top: 30px;
}
.myinfo{
    /*text-align: center;*/
    position:  relative;
}
.myinfo dl{
	
    width: 280px;
    margin:  0 auto;

}
.myinfo dt{
	
    color:  white;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 400;

}
.myinfo dd{
    position:  relative;
    box-shadow: 0 0 1px 0;
    width: 280px;
    margin: 0 auto;

}
.myinfo dd select{
	padding-left: 7px;
    /*padding-right: 0px;*/
    width: 228px;
    margin-left: 39px;
    height: 35px;
    border: 0;
	background-color: white;
}
.myinfo dd span{
    height: 100%;
    height: 35px;
    position:  absolute;
    width: 40px;
    background-color: #efefef;
    color: #9B9B9D;
    line-height: 35px;
    text-align:  center;
    top: 0;
}
.myinfo dd input{
	width: 240px;
    margin-left: 39px;
    border: none;
    height: 35px;
    display:  inline-block;
    padding: 0 10px;
}
.ui-select span{
	display: none;
}


/*主体内容*/



/*底部导航栏*/
.footer {
	width: 100%;
	height: 55px;
	background-color: rgba(21, 21, 21, 1);
	position: fixed;
	bottom: 0;
	z-index: 999;
}

.footer ul {
	list-style: none;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.footer ul li {
	display: inline-block;
	float: left;
	height: 100%;
	width: 33.333%;
	text-align: center;
	line-height: 55px;
	background-color: rgba(21, 21, 21, 1);
	transition: background-color .3s;
}
.footer li dt {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
}
.footer li dt i {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.footer li dd {
	font-size: 12px;
	color: #707070;
}
/*底部导航栏*/

